{{template "header"}}
    <section class="container">
        <div class="container px-5 my-5">
           <table>
                <tr>
                    <td>Id</td>
                    <td>{{ .Id }}</td>
                </tr>
                <tr>
                    <td>Title</td>
                    <td>{{ .Title }}</td>
                </tr>
                <tr>
                    <td>Content</td>
                    <td>{{ .Content }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ .Description }}</td>
                </tr>
                <tr>
                    <td>Primary Keyword</td>
                    <td>{{ .PrimaryKeyword }}</td>
                </tr>
                <tr>
                    <td>Media Id</td>
                    <td>{{ .MediaId }}</td>
                </tr>
                <tr>
                    <td>Prompt</td>
                    <td>{{ .Prompt }}</td>
                </tr>
                <tr>
                    <td>Yt Url</td>
                    <td>{{ .YtUrl }}</td>
                </tr>
                <tr>
                    <td>Img Prompt</td>
                    <td>{{ .ImgPrompt }}</td>
                </tr>
                <tr>
                    <td>Img Search</td>
                    <td>{{ .ImgSearch }}</td>
                </tr>
                <tr>
                    <td>Img Src Url</td>
                    <td>{{ .ImgSrcUrl }}</td>
                </tr>
                <tr>
                    <td>Concept</td>
                    <td>{{ .Concept }}</td>
                </tr>
                <tr>
                    <td>Idea Id</td>
                    <td>{{ .IdeaId }}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>{{ .Status }}</td>
                </tr>
                <tr>
                    <td>Version</td>
                    <td>{{ .Version }}</td>
                </tr>
                <tr>
                    <td>Create Date</td>
                    <td>{{ .CreateDate }}</td>
                </tr>
                <tr>
                    <td>Update Date</td>
                    <td>{{ .UpdateDate }}</td>
                </tr>

            </table>
        </div>
    </section>

{{template "footer"}}