{{template "header"}}
    <section class="container">
        <div class="container px-5 my-5">
            <h4>Articles</h4>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Primary Keyword</th>
                    <th scope="col">Prompt</th>
                    <th scope="col">Concept</th>
                    <th scope="col">Img String</th>
                    <th scope="col">Status</th>
                    <th scope="col">Version</th>
                    <th scope="col">Create Date</th>
                </tr>
                </thead>
                <tbody>
                {{ $BlogUrl := .BlogUrl}}
                {{range .Articles}}
                <tr>
                    <th scope="row">{{ .Id }}</th>
                    <td><a href="article?articleId={{ .Id }}">{{ .Title }}</a></td>
                    <td>{{ .PrimaryKeyword }}</td>
                    <td>{{ .Prompt }}</td>
                    <td>{{ .Concept }}</td>
                    <td>{{ .ImgPrompt }}{{ .ImgSearch }}{{ .ImgSrcUrl }}</td>
                    <td><a href="{{$BlogUrl}}/?p={{.WordPressId}}" target="_blank">{{ .Status }}</a></td>
                    <td>{{ .Version }}</td>
                    <td>{{ .CreateDate }}</td>
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </section>

{{template "footer"}}