{{template "header"}}
    <section class="container">
        <div class="container px-5 my-5">
            <form id="contentForm" action="/aiIdea" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="ideaConcept">AI Idea Starter</label>
                    <input class="form-control" id="ideaConcept" name="ideaConcept" type="text" placeholder="Idea Concept" data-sb-validations="required" />
                    <div class="invalid-feedback" data-sb-feedback="ideaConcept:required">Idea Concept is required.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="ideaCount">Idea Count</label>
                    <input class="form-control" id="ideaCount" name="ideaCount" type="text" placeholder="Idea Count" data-sb-validations="required" value="10"/>
                    <div class="invalid-feedback" data-sb-feedback="ideaCount:required">Idea Count is required.</div>
                </div>
                <div class="d-grid">
                    <button type="submit" value="Submit" class="btn btn-success btn-lg" id="submit">Submit</button>
                </div>
            </form>
        </div>
    </section>
    <section class="container">
        <div class="container px-5 my-5">
            <h4>Ideas</h4>
            <ul>
                <li><a href="/idea">Manual Add New</a></li>
                <li><a href="/aiIdea">AI Add New 10x Generic</a></li>
            </ul>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Idea</th>
                    <th scope="col">Concept</th>
                    <th scope="col">Status</th>
                    <th scope="col">Write</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                {{range .Ideas}}
                <tr>
                    <th scope="row">{{ .Id }}</th>
                    <td>{{ .IdeaText }}</td>
                    <td>{{ .IdeaConcept }}</td>
                    <td>{{ .Status }}</td>
                    <td><a href="/write?ideaId={{ .Id }}">Write</a></td>
                    <td><a href="/idea?ideaId={{ .Id }}">Edit</a></td>
                    <td><a href="/ideaDel?ideaId={{ .Id }}">Del</a></td>
                </tr>
                {{end}}
                </tbody>

            </table>
        </div>
    </section>

<script>
    // Get the form element and submit button
    const form = document.getElementById('contentForm');
    const submitButton = document.getElementById('submit');

    // Add an event listener for form submission
    form.addEventListener('submit', function(event) {
        // Disable the submit button
        submitButton.disabled = true;

        // Show the spinner
        submitButton.innerHTML = '<i class="fa fa-spinner fa-spin"></i> Submitting...';

    });
</script>

{{template "footer"}}