{{template "header"}}
    <section class="container">
        <div class="container px-5 my-5">
            <form id="contentForm" action="/ideaSave" method="POST">
                <input type="hidden" name="ideaId" id="ideaId" value="{{ .Idea.Id }}"/>
                <input type="hidden" name="seriesId" id="seriesId" value="{{ .Idea.SeriesId }}"/>
                <div class="mb-3">
                    <label class="form-label" for="ideaText">Idea</label>
                    <input class="form-control" id="ideaText" name="ideaText" type="text" placeholder="Idea Text" data-sb-validations="required" value="{{.Idea.IdeaText}}"/>
                    <div class="invalid-feedback" data-sb-feedback="imageUrl:required">Idea Text is required.</div>
                </div>
                <div class="d-grid">
                    <button type="submit" value="Submit" class="btn btn-success" id="submit">Submit</button>
                </div>
            </form>
        </div>
    </section>
<script>
    // Get the form element and submit button
    const form = document.getElementById('contentForm');
    const submitButton = document.getElementById('submit');

    // Add an event listener for form submission
    form.addEventListener('submit', function(event) {
        // Disable the submit button
        submitButton.disabled = true;

        // Show the spinner
        submitButton.innerHTML = '<i class="fa fa-spinner fa-spin"></i> Submitting...';

    });
</script>
{{template "footer"}}