{{template "header"}}
<!-- Modal -->
<div class="modal fade" id="aiIdeaModal" tabindex="-1" aria-labelledby="aiIdeaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="contentForm" action="/aiIdea" method="POST">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">AI Brainstorming</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label" for="ideaConcept">AI Idea Starter</label>
                    <input class="form-control" id="ideaConcept" name="ideaConcept" type="text" placeholder="Idea Concept" data-sb-validations="required" />
                    <div class="invalid-feedback" data-sb-feedback="ideaConcept:required">Idea Concept is required.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="ideaCount">Idea Count</label>
                    <input class="form-control" id="ideaCount" name="ideaCount" type="text" placeholder="Idea Count" data-sb-validations="required" value="10"/>
                    <div class="invalid-feedback" data-sb-feedback="ideaCount:required">Idea Count is required.</div>
                </div>
                <div class="d-grid">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" value="Submit" class="btn btn-primary" id="submit" >Submit</button>
            </div>
        </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="manualModal" tabindex="-1" aria-labelledby="manualModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="manualForm" action="/ideaSave" method="POST">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="manualModalLabel">Manual Idea Add</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label" for="ideaText">Idea</label>
                        <input class="form-control" id="ideaText" name="ideaText" type="text" placeholder="Idea Text" data-sb-validations="required" value=""/>
                        <div class="invalid-feedback" data-sb-feedback="imageUrl:required">Idea Text is required.</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" value="Submit" class="btn btn-primary" id="manualFormSubmit" >Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

    <section class="container">
        <div class="container px-5 my-5">
            <h4>Ideas</h4>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#aiIdeaModal">
                AI Brainstorm Ideas
            </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#manualModal">
                Manual Add New
            </button>
            <button type="button" class="btn btn-primary" id="aiBulkButton" onclick="aiBulkAdd()">
                AI Add 10x Generic
            </button>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Idea</th>
                    <th scope="col">Concept</th>
                    <th scope="col">Status</th>
                    <th scope="col">Write</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                {{range .Ideas}}
                <tr>
                    <th scope="row">{{ .Id }}</th>
                    <td>{{ .IdeaText }}</td>
                    <td>{{ .IdeaConcept }}</td>
                    <td>{{ .Status }}</td>
                    <td><a href="/write?ideaId={{ .Id }}">Write</a></td>
                    <td><a href="/idea?ideaId={{ .Id }}">Edit</a></td>
                    <td><a href="/ideaDel?ideaId={{ .Id }}">Del</a></td>
                </tr>
                {{end}}
                </tbody>

            </table>
        </div>
    </section>

<script>
    // Get the form element and submit button
    const form = document.getElementById('contentForm');
    const submitButton = document.getElementById('submit');

    const form2 = document.getElementById('manualForm');
    const submitButton2 = document.getElementById('manualFormSubmit');

    // Add an event listener for form submission
    form.addEventListener('submit', function(event) {
        // Disable the submit button
        submitButton.disabled = true;

        // Show the spinner
        submitButton.innerHTML = '<i class="fa fa-spinner fa-spin"></i> Submitting...';

    });

    form2.addEventListener('submit', function(event) {
        // Disable the submit button
        submitButton2.disabled = true;

        // Show the spinner
        submitButton2.innerHTML = '<i class="fa fa-spinner fa-spin"></i> Submitting...';

    });

    const aiBulkButton = document.getElementById('aiBulkButton');
    aiBulkButton.addEventListener('click', function(event) {
        // Disable the submit button
        aiBulkButton.disabled = true;

        // Show the spinner
        aiBulkButton.innerHTML = '<i class="fa fa-spinner fa-spin"></i> Submitting...';

    });
    function aiBulkAdd() {
        window.location.href = "/aiIdea";
    }
</script>

{{template "footer"}}