{{template "header"}}
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="container px-5">
                <h1>Blog-o-Tron Diagnostics</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="container px-5 my-2">
                <div>
                    <img id="ItemPreview" src="data:image/png;base64, {{ .Selfie }}" class="rounded-circle me-3" style="width: 300px; height: 300px;" class="img-fluid" alt="RoboSelfie">
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="container px-5 my-2">
                <div class="d-flex align-items-center mb-4">
                    <div>
                        {{ .Greeting }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="container px-5 my-2">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <td>WordPress Status</td>
                            <td>
                                <span class="badge bg-{{ if .WordPressStatus }}success{{ else }}danger{{ end }}">
                                    {{ if .WordPressStatus }}OK{{ else }}Not OK{{ end }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>OpenAI Status</td>
                            <td>
                                <span class="badge bg-{{ if .OpenAiStatus }}success{{ else }}danger{{ end }}">
                                    {{ if .OpenAiStatus }}OK{{ else }}Not OK{{ end }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Stable Diffusion Status</td>
                            <td>
                                <span class="badge bg-{{ if .SdStatus }}success{{ else }}danger{{ end }}">
                                    {{ if .SdStatus }}OK{{ else }}Not OK{{ end }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Unsplash Status</td>
                            <td>
                                <span class="badge bg-{{ if .UnsplashStatus }}success{{ else }}danger{{ end }}">
                                    {{ if .UnsplashStatus }}OK{{ else }}Not OK{{ end }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Last Tested</td>
                            <td>
                                {{ .LastTestTime }}
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <form action="/retest" method="post" id="contentForm">
                        <button type="submit" class="btn btn-primary" id="submit">Retest Connections</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="container px-5 my-2">
                <div>
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                            <tr>
                                <td>WordPress URL</td>
                                <td>
                                    <a href="{{ (index .Settings "WP_URL").SettingValue }}" target="_blank">{{ (index .Settings "WP_URL").SettingValue }}</a>
                                </td>
                            </tr>
                            <td>Startup Tests</td>
                                <td>
                                <span class="badge bg-{{ if eq (index .Settings "ENABLE_STARTUP_TESTS").SettingValue "true" }}success{{ else }}danger{{ end }}">
                                    {{ if eq (index .Settings "ENABLE_STARTUP_TESTS").SettingValue "true" }}Enabled{{ else }}Not Enabled{{ end }}
                                </span>
                                </td>
                            </tr>
                            <tr>
                                <td>Auto Posting</td>
                                <td>
                                    <span class="badge bg-{{ if eq (index .Settings "AUTO_POST_ENABLE").SettingValue "true" }}success{{ else }}danger{{ end }}">
                                    {{ if eq (index .Settings "AUTO_POST_ENABLE").SettingValue "true" }}Enabled{{ else }}Not Enabled{{ end }}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>Image Engine</td>
                                <td>
                                    {{ if eq (index .Settings "IMG_MODE").SettingValue "sd" }}<a href="{{ (index .Settings "SD_URL").SettingValue }}" target="_blank">Stable Diffusion</a>{{else}}{{ (index .Settings "IMG_MODE").SettingValue }}{{ end }}
                                </td>
                            </tr>
                            <tr>
                                <td>Idea Count</td>
                                <td>
                                    {{.IdeaCount}} / {{ (index .Settings "LOW_IDEA_THRESHOLD").SettingValue }}
                                </td>
                            </tr>

                        </table>
                </div>
                    <div>
                        <form action="/restart" method="post" id="restartForm">
                            <button type="submit" class="btn btn-danger" id="restart">Restart Services</button>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</section>
<script>
    const form = document.getElementById('contentForm');
    // Get the form element and submit button
    const submitButton = document.getElementById('submit');

    // Add an event listener for form submission
    form.addEventListener('submit', function(event) {
        // Disable the submit button
        submitButton.disabled = true;

        // Show the spinner
        submitButton.innerHTML = '<i class="fa fa-spinner fa-spin"></i> Retesting...';

    });
</script>

{{template "footer"}}
