{{template "header"}}
<!-- Modal -->
<div class="modal fade" id="aiModal" tabindex="-1" aria-labelledby="aiModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="aiForm" action="/aiIdea" method="POST">
            <input type="hidden" name="seriesId" id="aiSeriesId" value="{{ .Series.Id }}"/>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">AI Brainstorming</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label" for="ideaConcept">AI Idea Starter</label>
                        <input class="form-control" id="ideaConcept" name="ideaConcept" type="text" placeholder="Idea Concept" data-sb-validations="required" value="{{.Series.SeriesPrompt}}"/>
                        <div class="invalid-feedback" data-sb-feedback="ideaConcept:required">Idea Concept is required.</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="ideaCount" id="ideaCountLabel">Idea Count: 10</label>
                        <input type="range" class="form-range" min="1" max="50" step="1" id="ideaCount" name="ideaCount" value="10">
                        <div class="invalid-feedback" data-sb-feedback="ideaCount:required">Idea Count is required.</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" value="Submit" class="btn btn-primary" id="aiFormSubmit" >Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="manualModal" tabindex="-1" aria-labelledby="manualModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="manualForm" action="/ideaSave" method="POST">
            <input type="hidden" name="seriesId" id="manualSeriesId" value="{{ .Series.Id }}"/>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="manualModalLabel">Manual Idea Add</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label" for="ideaText">Idea</label>
                        <input class="form-control" id="ideaText" name="ideaText" type="text" placeholder="Idea Text" data-sb-validations="required" value=""/>
                        <div class="invalid-feedback" data-sb-feedback="imageUrl:required">Idea Text is required.</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" value="Submit" class="btn btn-primary" id="manualFormSubmit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

    <section class="container">
        <div class="container px-5 my-5">
            <form id="contentForm" action="/seriesSave" method="POST">
                <input type="hidden" name="seriesId" id="seriesId" value="{{ .Series.Id }}"/>
                <div class="mb-3">
                    <label class="form-label" for="seriesName">Series Name</label>
                    <input class="form-control" id="seriesName" name="seriesName" type="text" placeholder="Series Name" data-sb-validations="required" value="{{.Series.SeriesName}}"/>
                    <div class="invalid-feedback" data-sb-feedback="seriesName:required">Series Name is required.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="seriesPrompt">Series Prompt</label>
                    <input class="form-control" id="seriesPrompt" name="seriesPrompt" type="text" placeholder="Series Prompt" data-sb-validations="required" value="{{.Series.SeriesPrompt}}"/>
                    <div class="invalid-feedback" data-sb-feedback="seriesPrompt:required">Series Prompt is required.</div>
                </div>
                <div class="d-grid">
                    <button type="submit" value="Submit" class="btn btn-success" id="submit">Submit</button>
                </div>
            </form>
        </div>
    </section>
    {{if .Series.Id }}
    <section class="container">
        <div class="container px-5 my-5">
            <h4>Series Ideas</h4>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#manualModal">
                Manual Add New
            </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#aiModal">
                AI Brainstorm
            </button>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Idea</th>
                    <th scope="col">Concept</th>
                    <th scope="col">Status</th>
                    <th scope="col">Write</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                {{range .Ideas}}
                <tr>
                    <th scope="row">{{ .Id }}</th>
                    <td>{{ .IdeaText }}</td>
                    <td>{{ .IdeaConcept }}</td>
                    <td>{{ .Status }}</td>
                    <td><a href="/write?ideaId={{ .Id }}">Write</a></td>
                    <td><a href="/idea?ideaId={{ .Id }}">Edit</a></td>
                    <td><a href="/ideaDel?ideaId={{ .Id }}">Del</a></td>
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </section>
    {{ end }}
<script>
    // Get the form element and submit button
    const form = document.getElementById('contentForm');
    const submitButton = document.getElementById('submit');
    const form2 = document.getElementById('manualForm');
    const submitButton2 = document.getElementById('manualFormSubmit');
    const form3 = document.getElementById('aiForm');
    const submitButton3 = document.getElementById('aiFormSubmit');

    // Add an event listener for form submission
    form.addEventListener('submit', function(event) {
        // Disable the submit button
        submitButton.disabled = true;

        // Show the spinner
        submitButton.innerHTML = '<i class="fa fa-spinner fa-spin"></i> Submitting...';

    });

    form2.addEventListener('submit', function(event) {
        // Disable the submit button
        submitButton2.disabled = true;

        // Show the spinner
        submitButton2.innerHTML = '<i class="fa fa-spinner fa-spin"></i> Submitting...';

    });

    form3.addEventListener('submit', function(event) {
        // Disable the submit button
        submitButton3.disabled = true;

        // Show the spinner
        submitButton3.innerHTML = '<i class="fa fa-spinner fa-spin"></i> Submitting...';

    });

    form3.ideaCount.oninput = function(){
        document.getElementById('ideaCountLabel').innerHTML = 'Idea Count: ' + form3.ideaCount.value;
    }
</script>
{{template "footer"}}