{{template "header"}}
    <section class="container">
        <div class="container px-5 my-5">
            <form id="contentForm" action="/settingsSave" method="POST">
                <div class="alert alert-warning" role="alert">
                    Services will restart when you save settings.  AutoPosting may be triggered.
                    {{ $settings := .Settings }}
                </div>
                <div class="mb-3">
                    <label for="BLOGOTRON_PORT" class="form-label">BLOGOTRON_PORT</label>
                    <input type="text" class="form-control" id="BLOGOTRON_PORT" name="BLOGOTRON_PORT" value="{{ (index .Settings "BLOGOTRON_PORT").SettingValue }}">
                </div>
                <div class="mb-3">
                    <label for="BLOGOTRON_API_PORT" class="form-label">BLOGOTRON_API_PORT</label>
                    <input type="text" class="form-control" id="BLOGOTRON_API_PORT" name="BLOGOTRON_API_PORT" value="{{ (index .Settings "BLOGOTRON_API_PORT").SettingValue }}">
                </div>
                <div class="mb-3">
                    <div>
                        <label for="ENABLE_STARTUP_TESTS" class="form-label">ENABLE_STARTUP_TESTS</label>
                        <input type="radio" class="btn-check" name="ENABLE_STARTUP_TESTS" id="ENABLE_STARTUP_TESTS_ON" autocomplete="off" {{ if eq (index .Settings "ENABLE_STARTUP_TESTS").SettingValue "true" }}checked{{ end }} value="true">
                        <label class="btn btn-outline-success" for="ENABLE_STARTUP_TESTS_ON">Enabled</label>
                        <input type="radio" class="btn-check" name="ENABLE_STARTUP_TESTS" id="ENABLE_STARTUP_TESTS_OFF" autocomplete="off" {{ if eq (index .Settings "ENABLE_STARTUP_TESTS").SettingValue "false" }}checked{{ end }} value="false">
                        <label class="btn btn-outline-danger" for="ENABLE_STARTUP_TESTS_OFF">Disabled</label>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="OPENAI_API_KEY" class="form-label">OPENAI_API_KEY</label>
                    <input type="password" class="form-control" id="OPENAI_API_KEY" name="OPENAI_API_KEY" value="{{ (index .Settings "OPENAI_API_KEY").SettingValue }}">
                </div>
                <div class="mb-3">
                    <div>
                        <label for="ENABLE_GPT4" class="form-label">ENABLE_GPT4</label>
                        <input type="radio" class="btn-check" name="ENABLE_GPT4" id="ENABLE_GPT4_ON" autocomplete="off" {{ if eq (index .Settings "ENABLE_GPT4").SettingValue "true" }}checked{{ end }} value="true">
                        <label class="btn btn-outline-success" for="ENABLE_GPT4_ON">Enabled</label>
                        <input type="radio" class="btn-check" name="ENABLE_GPT4" id="ENABLE_GPT4_OFF" autocomplete="off" {{ if eq (index .Settings "ENABLE_GPT4").SettingValue "false" }}checked{{ end }} value="false">
                        <label class="btn btn-outline-danger" for="ENABLE_GPT4_OFF">Disabled</label>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="WP_URL" class="form-label">WP_URL</label>
                    <input type="text" class="form-control" id="WP_URL" name="WP_URL" value="{{ (index .Settings "WP_URL").SettingValue }}">
                </div>
                <div class="mb-3">
                    <label for="WP_USERNAME" class="form-label">WP_USERNAME</label>
                    <input type="text" class="form-control" id="WP_USERNAME" name="WP_USERNAME" value="{{ (index .Settings "WP_USERNAME").SettingValue }}">
                </div>
                <div class="mb-3">
                    <label for="WP_PASSWORD" class="form-label">WP_PASSWORD</label>
                    <input type="password" class="form-control" id="WP_PASSWORD" name="WP_PASSWORD" value="{{ (index .Settings "WP_PASSWORD").SettingValue }}">
                </div>
                <div class="mb-3">
                    <label for="IMG_MODE" class="form-label">IMG_MODE</label>
                    <select class="form-select" id="IMG_MODE" name="IMG_MODE" >
                        <option value="none" {{ if eq (index .Settings "IMG_MODE").SettingValue "none" }}selected{{ end }}>None</option>
                        <option value="sd" {{ if eq (index .Settings "IMG_MODE").SettingValue "sd" }}selected{{ end }}>StableDiffusion</option>
                        <option value="openai" {{ if eq (index .Settings "IMG_MODE").SettingValue "openai" }}selected{{ end }}>OpenAI Dall-E</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="LOW_IDEA_THRESHOLD" class="form-label">LOW_IDEA_THRESHOLD</label>
                    <input type="text" class="form-control" id="LOW_IDEA_THRESHOLD" name="LOW_IDEA_THRESHOLD" value="{{ (index .Settings "LOW_IDEA_THRESHOLD").SettingValue }}">
                </div>
                <div class="mb-3">
                    <div>
                        <label for="AUTO_POST_ENABLE" class="form-label">AUTO_POST_ENABLE</label>
                        <input type="radio" class="btn-check" name="AUTO_POST_ENABLE" id="AUTO_POST_ENABLE_ON" autocomplete="off" {{ if eq (index .Settings "AUTO_POST_ENABLE").SettingValue "true" }}checked{{ end }} value="true">
                        <label class="btn btn-outline-success" for="AUTO_POST_ENABLE_ON">Enabled</label>
                        <input type="radio" class="btn-check" name="AUTO_POST_ENABLE" id="AUTO_POST_ENABLE_OFF" autocomplete="off" {{ if eq (index .Settings "AUTO_POST_ENABLE").SettingValue "false" }}checked{{ end }} value="false">
                        <label class="btn btn-outline-danger" for="AUTO_POST_ENABLE_OFF">Disabled</label>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="AUTO_POST_IMG_ENGINE" class="form-label">AUTO_POST_IMG_ENGINE</label>
                    <select class="form-select" id="AUTO_POST_IMG_ENGINE" name="AUTO_POST_IMG_ENGINE" >
                        <option value="none" {{ if eq (index .Settings "AUTO_POST_IMG_ENGINE").SettingValue "none" }}selected{{ end }}>None</option>
                        <option value="generate" {{ if eq (index .Settings "AUTO_POST_IMG_ENGINE").SettingValue "generate" }}selected{{ end }}>AI Generation</option>
                        <option value="unsplash" {{ if eq (index .Settings "AUTO_POST_IMG_ENGINE").SettingValue "unsplash" }}selected{{ end }}>Unsplash Search</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="AUTO_POST_INTERVAL" class="form-label">AUTO_POST_INTERVAL</label>
                    <input type="text" class="form-control" id="AUTO_POST_INTERVAL" name="AUTO_POST_INTERVAL" value="{{ (index .Settings "AUTO_POST_INTERVAL").SettingValue }}">
                </div>
                <div class="mb-3">
                    <label for="AUTO_POST_LEN" class="form-label">AUTO_POST_LEN</label>
                    <input type="text" class="form-control" id="AUTO_POST_LEN" name="AUTO_POST_LEN" value="{{ (index .Settings "AUTO_POST_LEN").SettingValue }}">
                </div>
                <div class="mb-3">
                    <label for="AUTO_POST_STATE" class="form-label">AUTO_POST_STATE</label>
                    <select class="form-select" id="AUTO_POST_STATE" name="AUTO_POST_STATE" >
                        <option value="draft" {{ if eq (index .Settings "AUTO_POST_STATE").SettingValue "draft" }}selected{{ end }}>Draft</option>
                        <option value="publish" {{ if eq (index .Settings "AUTO_POST_STATE").SettingValue "publish" }}selected{{ end }}>Publish</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="SD_URL" class="form-label">SD_URL</label>
                    <input type="text" class="form-control" id="SD_URL" name="SD_URL" value="{{ (index .Settings "SD_URL").SettingValue }}">
                </div>
                <div class="mb-3">
                    <label for="IMG_HEIGHT" class="form-label">IMG_HEIGHT</label>
                    <input type="text" class="form-control" id="IMG_HEIGHT" name="IMG_HEIGHT" value="{{ (index .Settings "IMG_HEIGHT").SettingValue }}">
                </div>
                <div class="mb-3">
                    <label for="IMG_WIDTH" class="form-label">IMG_WIDTH</label>
                    <input type="text" class="form-control" id="IMG_WIDTH" name="IMG_WIDTH" value="{{ (index .Settings "IMG_WIDTH").SettingValue }}">
                </div>
                <div class="mb-3">
                    <label for="IMG_SAMPLER" class="form-label">IMG_SAMPLER</label>
                    <select class="form-select" id="IMG_SAMPLER" name="IMG_SAMPLER">
                        <option value="">NONE</option>
                        {{range $key, $value := .Samplers}}
                            <option value="{{ $key }}" {{ if eq (index $settings "IMG_SAMPLER").SettingValue $key }}selected{{ end }}>{{ $key }}</option>
                        {{ end}}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="IMG_UPSCALER" class="form-label">IMG_UPSCALER</label>
                    <select class="form-select" id="IMG_UPSCALER" name="IMG_UPSCALER">
                        <option value="">NONE</option>
                        {{range $key, $value := .Upscalers}}
                            <option value="{{ $key }}" {{ if eq (index $settings "IMG_UPSCALER").SettingValue $key }}selected{{ end }}>{{ $key }}</option>
                        {{ end}}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="IMG_STEPS" class="form-label">IMG_STEPS</label>
                    <input type="text" class="form-control" id="IMG_STEPS" name="IMG_STEPS" value="{{ (index .Settings "IMG_STEPS").SettingValue }}">
                </div>
                <div class="mb-3">
                    <label for="IMG_NEGATIVE_PROMPTS" class="form-label">IMG_NEGATIVE_PROMPTS</label>
                    <input type="text" class="form-control" id="IMG_NEGATIVE_PROMPTS" name="IMG_NEGATIVE_PROMPTS" value="{{ (index .Settings "IMG_NEGATIVE_PROMPTS").SettingValue }}">
                </div>
                <div class="mb-3">
                    <label for="UNSPLASH_ACCESS_KEY" class="form-label">UNSPLASH_ACCESS_KEY</label>
                    <input type="password" class="form-control" id="UNSPLASH_ACCESS_KEY" name="UNSPLASH_ACCESS_KEY" value="{{ (index .Settings "UNSPLASH_ACCESS_KEY").SettingValue }}">
                </div>
                <div class="mb-3">
                    <label for="UNSPLASH_SECRET_KEY" class="form-label">UNSPLASH_SECRET_KEY</label>
                    <input type="password" class="form-control" id="UNSPLASH_SECRET_KEY" name="UNSPLASH_SECRET_KEY" value="{{ (index .Settings "UNSPLASH_SECRET_KEY").SettingValue }}">
                </div>
                <div class="d-grid">
                    <button type="submit" value="Save" class="btn btn-success" id="submit">Save</button>
                </div>
            </form>
        </div>
    </section>

<script>
    const form = document.getElementById('contentForm');

    // Get the form element and submit button
    const submitButton = document.getElementById('submit');

    // Add an event listener for form submission
    form.addEventListener('submit', function(event) {
        // Disable the submit button
        submitButton.disabled = true;

        // Show the spinner
        submitButton.innerHTML = '<i class="fa fa-spinner fa-spin"></i> Saving...';

    });
</script>
{{template "footer"}}