{{template "header"}}
    <section class="container">
        <div class="container px-5 my-5">
            <form id="contentForm" action="/settingsSave" method="POST">
                {{range $key, $value := .Settings}}
                    <div class="mb-3">
                        <label for="{{$key}}" class="form-label">{{$key}}</label>
                        {{ if eq $key "OPENAI_API_KEY" }}
                            <input type="password" class="form-control" id="{{$key}}" name="{{$key}}" value="{{$value}}">
                        {{ else if eq $key "UNSPLASH_ACCESS_KEY" }}
                            <input type="password" class="form-control" id="{{$key}}" name="{{$key}}" value="{{$value}}">
                        {{ else if eq $key "UNSPLASH_SECRET_KEY" }}
                        <input type="password" class="form-control" id="{{$key}}" name="{{$key}}" value="{{$value}}">
                        {{ else if eq $key "WP_PASSWORD" }}
                        <input type="password" class="form-control" id="{{$key}}" name="{{$key}}" value="{{$value}}">
                        {{else}}
                            <input type="text" class="form-control" id="{{$key}}" name="{{$key}}" value="{{$value}}">
                        {{end}}
                    </div>
                {{end}}
                <div class="d-grid">
                    <button type="submit" value="Save" class="btn btn-success" id="submit">Save</button>
                </div>
            </form>
        </div>
    </section>

<script>
    const form = document.getElementById('contentForm');

    // Get the form element and submit button
    const submitButton = document.getElementById('submit');

    // Add an event listener for form submission
    form.addEventListener('submit', function(event) {
        // Disable the submit button
        submitButton.disabled = true;

        // Show the spinner
        submitButton.innerHTML = '<i class="fa fa-spinner fa-spin"></i> Saving...';

    });
</script>
{{template "footer"}}